.DS_Store
.vscode
*.bak
*_old.*
*.db
examples/*.db
examples/*_rust
examples/_ide_output
examples/_ide_output.rp
examples/_ide_errors.json
examples/*.compiled
examples/*.interp
examples/*.zip
examples/**/
examples/ide.config.json
utilities/vscodeext/rapidr/*.vsix
tests/results
tests/screenshots
*.vsix
target
rapidr
ide
*.compiled
*.interp
*.zip
