[Desktop Entry]
Type=Application
Name=RapidR Studio
GenericName=BASIC IDE
Comment=Write, run and build RapidR and RapidQ programs
Exec=@BIN@/rapidr ide %f
Terminal=false
Icon=rapidr-ide
Categories=Development;IDE;
Keywords=BASIC;RapidQ;RapidR;
MimeType=text/x-rapidr;text/x-rapidq-basic;application/x-rapidr-project;
